<template>
  <div id="app">

    <h1>{{ msg }}</h1>

    <div class="lottery">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="d-flex justify-content-center align-items-center flex-column">

              <div>
                <div class="form-group">
                  <label for="number"></label>
                  <input id="number" type="number" class="form-control" min="1" max="99">
                </div>
                <button type="button" class="btn btn-dark" id="btnSendNumber">Send my number</button>
              </div>

              <div>
                <hr>
                <button type="button" class="btn btn-dark" id="btnCheckNumber" disabled>Start lottery</button>
                <hr>
              </div>

              <div>
                <div id="winNumbers" class="alert alert-info" role="alert">
                  Check win numbers here!
                </div>
              </div>

              <div>
                <div class="alert alert-success info"></div>
              </div>

            </div>
          </div>
          <div class="col-md-7">

            <div>
              <table class="table" id="tablePlayers">
                <thead class="thead-inverse">
                <tr>
                  <th>Name</th>
                  <th>Numbers</th>
                  <th>Win, $</th>
                </tr>
                </thead>
                <tbody id="tablePlayersBody">
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

