.lottery{
    margin-top: 100px
}
input{
    min-width: 150px
}
label{
    display: block;
    text-align: left;
    font-weight: bold;
}
#tablePlayers .text-success{
    font-weight: bold;
}
.info{
    display: none;
}